In [84]:
import pandas as pd
import numpy as py

In [23]:
LFP = pd.read_csv('La Liga 17-18 players.csv')
print (LFP.columns)

Index(['height', 'weight', 'age', 'isManOfTheMatch', 'isActive',
       'playedPositions', 'playedPositionsShort', 'teamRegionName',
       'regionCode', 'tournamentShortName', 'apps', 'subOn', 'manOfTheMatch',
       'goal', 'assistTotal', 'shotsPerGame', 'aerialWonPerGame', 'name',
       'firstName', 'lastName', 'playerId', 'positionText', 'teamId',
       'teamName', 'seasonId', 'seasonName', 'isOpta', 'tournamentId',
       'tournamentRegionId', 'tournamentRegionCode', 'tournamentRegionName',
       'tournamentName', 'rating', 'minsPlayed', 'yellowCard', 'redCard',
       'passSuccess', 'ranking'],
      dtype='object')

In [54]:
#Creating a subset from the CSV File, and asigning that subset to the variable LFPA
LFPA = LFP[['firstName','lastName', 'teamName','isOpta','manOfTheMatch','goal', 'assistTotal', 'shotsPerGame', 'aerialWonPerGame','rating', 'minsPlayed', 'yellowCard', 'redCard',
       'passSuccess', 'ranking']]

In [58]:
#Using multiples sorting and option 'descending'
LFPA.sort_values (by=['assistTotal','shotsPerGame'], ascending=False)

,firstName,lastName,teamName,isOpta,manOfTheMatch,goal,assistTotal,shotsPerGame,aerialWonPerGame,rating,minsPlayed,yellowCard,redCard,passSuccess,ranking
0,Lionel,Messi,Barcelona,True,22,34,12,5.472222,0.222222,8.684722,2997,3,0,81.200212,1
2,Luis,Suárez,Barcelona,True,5,25,12,3.666667,0.393939,7.721212,2902,9,0,76.850095,3
7,Toni,Kroos,Real Madrid,True,0,5,7,1.518519,0.407407,7.474815,2268,4,0,93.091787,8
9,Daniel,Parejo,Valencia,True,7,7,7,1.323529,0.500000,7.411765,3005,15,1,85.575296,10
1,Cristiano Ronaldo,dos Santos Aveiro,Real Madrid,True,7,26,5,6.592593,1.259259,7.936667,2293,1,0,81.557377,2
6,Iago,Aspas,Celta Vigo,True,11,22,5,2.764706,0.470588,7.490588,2938,9,0,78.768233,7
3,Philippe,Coutinho Correia,Barcelona,True,2,8,5,2.055556,0.277778,7.662222,1304,1,0,86.855037,4
4,Carlos Henrique,Casimiro,Real Madrid,True,1,5,3,1.066667,2.133333,7.495000,2601,8,0,88.366762,5
5,Gareth,Bale,Real Madrid,True,6,16,2,2.961538,1.269231,7.491154,1803,5,0,82.471264,6
8,Filipe Luís,Kasmirski,Atletico,True,2,1,2,0.250000,0.900000,7.448500,1660,4,0,83.438819,9

In [65]:
#Applying a Filter in the field assisTotal and goals
LFPA[(LFPA['assistTotal']>6) & (LFPA['goal'] >10)]

,firstName,lastName,teamName,isOpta,manOfTheMatch,goal,assistTotal,shotsPerGame,aerialWonPerGame,rating,minsPlayed,yellowCard,redCard,passSuccess,ranking
0,Lionel,Messi,Barcelona,True,22,34,12,5.472222,0.222222,8.684722,2997,3,0,81.200212,1
2,Luis,Suárez,Barcelona,True,5,25,12,3.666667,0.393939,7.721212,2902,9,0,76.850095,3

In [76]:
moretengoal = LFPA[(LFPA['assistTotal']>6) & (LFPA['goal'] >10)]

In [78]:
moretengoal['lastName']

0     Messi
2    Suárez
Name: lastName, dtype: object

In [97]:
LFPA['Name'] = LFPA['firstName'].str.cat(LFP['lastName'],sep="-")



#'firstName','lastName'

<ipython-input-97-844af5ee4e4d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LFPA['Name'] = LFPA['firstName'].str.cat(LFP['lastName'],sep="-")

In [98]:
LFPA

,firstName,lastName,teamName,isOpta,manOfTheMatch,goal,assistTotal,shotsPerGame,aerialWonPerGame,rating,minsPlayed,yellowCard,redCard,passSuccess,ranking,Name
0,Lionel,Messi,Barcelona,True,22,34,12,5.472222,0.222222,8.684722,2997,3,0,81.200212,1,Lionel-Messi
1,Cristiano Ronaldo,dos Santos Aveiro,Real Madrid,True,7,26,5,6.592593,1.259259,7.936667,2293,1,0,81.557377,2,Cristiano Ronaldo-dos Santos Aveiro
2,Luis,Suárez,Barcelona,True,5,25,12,3.666667,0.393939,7.721212,2902,9,0,76.850095,3,Luis-Suárez
3,Philippe,Coutinho Correia,Barcelona,True,2,8,5,2.055556,0.277778,7.662222,1304,1,0,86.855037,4,Philippe-Coutinho Correia
4,Carlos Henrique,Casimiro,Real Madrid,True,1,5,3,1.066667,2.133333,7.495000,2601,8,0,88.366762,5,Carlos Henrique-Casimiro
5,Gareth,Bale,Real Madrid,True,6,16,2,2.961538,1.269231,7.491154,1803,5,0,82.471264,6,Gareth-Bale
6,Iago,Aspas,Celta Vigo,True,11,22,5,2.764706,0.470588,7.490588,2938,9,0,78.768233,7,Iago-Aspas
7,Toni,Kroos,Real Madrid,True,0,5,7,1.518519,0.407407,7.474815,2268,4,0,93.091787,8,Toni-Kroos
8,Filipe Luís,Kasmirski,Atletico,True,2,1,2,0.250000,0.900000,7.448500,1660,4,0,83.438819,9,Filipe Luís-Kasmirski
9,Daniel,Parejo,Valencia,True,7,7,7,1.323529,0.500000,7.411765,3005,15,1,85.575296,10,Daniel-Parejo

In [94]:
del LFPA['KeyName']

In [95]:
del LFPA['keyn']

In [99]:
LFPA

,firstName,lastName,teamName,isOpta,manOfTheMatch,goal,assistTotal,shotsPerGame,aerialWonPerGame,rating,minsPlayed,yellowCard,redCard,passSuccess,ranking,Name
0,Lionel,Messi,Barcelona,True,22,34,12,5.472222,0.222222,8.684722,2997,3,0,81.200212,1,Lionel-Messi
1,Cristiano Ronaldo,dos Santos Aveiro,Real Madrid,True,7,26,5,6.592593,1.259259,7.936667,2293,1,0,81.557377,2,Cristiano Ronaldo-dos Santos Aveiro
2,Luis,Suárez,Barcelona,True,5,25,12,3.666667,0.393939,7.721212,2902,9,0,76.850095,3,Luis-Suárez
3,Philippe,Coutinho Correia,Barcelona,True,2,8,5,2.055556,0.277778,7.662222,1304,1,0,86.855037,4,Philippe-Coutinho Correia
4,Carlos Henrique,Casimiro,Real Madrid,True,1,5,3,1.066667,2.133333,7.495000,2601,8,0,88.366762,5,Carlos Henrique-Casimiro
5,Gareth,Bale,Real Madrid,True,6,16,2,2.961538,1.269231,7.491154,1803,5,0,82.471264,6,Gareth-Bale
6,Iago,Aspas,Celta Vigo,True,11,22,5,2.764706,0.470588,7.490588,2938,9,0,78.768233,7,Iago-Aspas
7,Toni,Kroos,Real Madrid,True,0,5,7,1.518519,0.407407,7.474815,2268,4,0,93.091787,8,Toni-Kroos
8,Filipe Luís,Kasmirski,Atletico,True,2,1,2,0.250000,0.900000,7.448500,1660,4,0,83.438819,9,Filipe Luís-Kasmirski
9,Daniel,Parejo,Valencia,True,7,7,7,1.323529,0.500000,7.411765,3005,15,1,85.575296,10,Daniel-Parejo

In [100]:
LFPA.to_csv(r'C:\Users\Pavel\Desktop\Python1\La Liga\17-18\LFPA.csv', index = False)